.container {
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 5%;
}

.container .btn {
    width: 100px;
    height: 50px;
    display: flex;
    float: right;
    margin: 10px;
    background-color: #0d6efd;
    color: white;
    font-size: 18px;
}

.container .btn-red {
    background-color: red;
}

.container .btn span {
    display: none;
}

.container .btn span svg {
    width: 30px;
    height: 30px;
}

.container .btn[loading] {
    pointer-events: none;
    opacity: .3;
}

.container .btn[loading] p {
    display: none;
}

.container .btn[loading] span {
    display: flex;
    animation: Loader .5s infinite linear;
}

@keyframes Loader {
    0% {
        transform: rotate(0);
    } 100% {
        transform: rotate(360deg);
    }
}

.container table thead,
.container table tbody {
    border: 1px solid #E7E9EB;
    border-radius: 5px;
}